@import "../../../main-styles.scss";

.main-container {
    height: 100%;
    .play-list-container {
        height: 90%;
        .icons > * {
            margin: 0 0.2rem;
        }

        .play-list {
            height: 80px;
            width: 80px;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            .play-list-title {
                max-width: 100%;
            }

            &.is-active {
                // .play-list-title {
                //     overflow: hidden;
                //     position: relative;

                //     animation-name: sliding;
                //     animation-duration: 4s;
                //     animation-iteration-count: infinite;

                //     @keyframes sliding {
                //         0% {left: 100%; right: 0%;}
                //         100% {left: -100%; right: 0%;}
                //     }
                // }

                .fa-compact-disc {

                    -webkit-animation: spin 4s linear infinite;
                    -moz-animation: spin 4s linear infinite;
                    animation: spin 4s linear infinite;

                    @-moz-keyframes spin {
                        100% {
                            -moz-transform: rotate(360deg);
                        }
                    }
                    @-webkit-keyframes spin {
                        100% {
                            -webkit-transform: rotate(360deg);
                        }
                    }
                    @keyframes spin {
                        100% {
                            -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                    }
                }


            }

            .fas {
                color: $secondary;
        
                &:hover {
                    color: lighten($secondary, 10%);
                    cursor: pointer;
                }
            }
        }
    }
}
