<!-- navbar for responsive collapsing-->
<!-- flex-column for general -->
<!-- flex-md-row for non-mobile, medium screen -->
<nav class="main-container navbar bg-primary navbar-expand navbar-dark flex-column flex-md-row">
    <a class="navbar-brand d-inline-block" href="#">
        <i class="fas fa-music"></i>
        Music Space
    </a>

    <ul class="navbar-nav flex-row">
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link2</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href="#">Link3</a>
        </li>
    </ul>

    <ul class="navbar-nav flex-row ml-auto">
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log Out<i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>