<div class="table-wrapper">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Artist</th>
                <th scope="col">Duration</th>
                <th scope="col">
                    <button type="button" class="btn btn-success py-0 text-nowrap" routerLink="./new-song">+
                        Song</button>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let song of songs; let i = index">
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ song.title }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.duration }}</td>
                <td class="icons">
                    <a href="{{song.youtubeLink}}"><i class="fab fa-youtube"></i></a>
                    <a><i class="fas fa-edit" routerLink="./{{song._id}}"></i></a>
                    <a><i class="fas fa-trash" (click)="onDeleteSongClick(song)"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>