@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

$purple: #211331;
$pink: #f2005e;

$primary: $purple;

$family-sans-serif: 'Londrina Solid', cursive;

a {
    color: $pink;
}